*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    height: 100px;
    background-color: #081b31;
    line-height: 5rem;
    color:white;

}
.calculator{
    margin-left: 38%;
    
    margin-top:3rem ;
    height: 500px;
    background-color:#A4B885;
    width: 350px;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.display{
    
    background-color: #464858;
    height: 80px;
    border-radius: 1rem;
}
p{
    font-size: 3rem;
    text-align: end;
    padding-right: 1rem;
}
.buttons{
    margin-left: 0.5rem;
    margin-top: 1rem;
    display:grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: aqua;
    border-radius: 50%;
    font-size: 2rem;
}
.oprator{
    background-color: yellow;
}
.clear{
    background-color: lightcoral;
}
.button:hover{
    cursor: pointer;
    border: 1px solid black;
}